{% extends 'base/base_legal.html' %}

{% block page_name %}Terms of Service{% endblock %}
{% block bar_name %}Terms of Service{% endblock %}

{% block legal_title %} Terms of Service {% endblock %}

{% block legal_content %}
    <section class="border-l-2 border-white/10 pl-6">
        <h2 class="text-white mb-3">00. Educational Disclaimer</h2>
        <p>This platform is a technical demonstration for learning the Django Framework. It is not a commercial entity.
            All simulated environments are for academic purposes.</p>
    </section>

    <section class="border-l-2 border-white/10 pl-6">
        <h2 class="text-white mb-3">01. Service Reliability</h2>
        <p>As a development build, we do not guarantee uptime or data integrity. Matchmaking systems are
            logic-simulations and do not represent a final production product.</p>
    </section>

{% endblock %}